@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Oscar Carrero<br />
    
</address>

<address>
    <strong>Support:</strong> <a href="mailto:oscar@spam.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:oscar@spam.com">Marketing@example.com</a>
</address>
